.header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5px; 
    padding: 5vh 3vw 5vh 3vw;
    background: black;
}
.header-icon{
    margin: 2px 2px 2px 2px;
    width: 50px;
    min-width: 80px;
    height: fit-content;
    border-radius: 50%;

}


h2{
    color:aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
    padding-left: -2%;
    font-size: 120%;
}
#lista1{
   padding-right: 0%;
   padding-left: 25%;
}

#lista2{
    padding-right: 50%;
}